<!DOCTYPE HTML PUBLIC "-//w3c//dtd html 4.01//en" "http://www.w3.org/tr/html4/loose.dtd">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"><title>Juhan Kuulumisia</title>

<link rel="stylesheet" type="text/css" href="../static/juhan-style.css">
</head>
<body>
<table>
<tbody>
<tr>
<td style="background-image: url(pystypalkki.jpg); background-repeat: repeat-y;">
<a href="http://www.elisanet.fi/juha_vartiainen/index.htm"><img alt="Takaisin" id="takaisin" src="../static/takaisin_2.gif" name="backbutton"> </a></td>
<!--start block-->
<td>
<h2>[timestamp]</h2>
<h1>Otsikko</h1>
<p>
Tekstiä<br>
</p>
<hr>
</td>
<!--end block-->
</tr>
</tbody>
</table>
</body></html>